*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 21px;
  font-family: "Open Sans";
}

html, body {
  height: 100%;
  background: #FAFAFA;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Raleway';
  font-size: 2.7em;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: .3em;
  margin-top: 0;
}

h2 {
  font-size: 3em;
}

p {
  font-weight: 200;
}

.fl {
  float: left;
  margin: 20px;
}

.fr {
  float: right;
  margin: 20px;
}

.hero {
  width: 50%;
  height: 100%;
  position: fixed;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 30%), url(/images/comics3.jpg);
  background-size: cover;
  background-position: center 30%;
  border-right: solid 2px #000;
}
.hero .hamb-wrap {
  height: 30px;
  width: 40px;
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
  z-index: 2;
}
.hero .hamb {
  height: 3px;
  width: 35px;
  background: #fff;
  position: absolute;
  top: 10px;
  left: 0;
  transition: 0.2s;
  border-radius: 10% 10% 10% 10% / 40% 40% 40% 40%;
}
.hero .hamb:before, .hero .hamb:after {
  content: '';
  position: absolute;
  background: #fff;
  height: 3px;
  width: 100%;
  transition: 0.2s;
  border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
}
.hero .hamb:before {
  top: 8px;
}
.hero .hamb:after {
  top: -8px;
}
.hero .active {
  background: none;
  transition: 0.2s;
}
.hero .active:before, .hero .active:after {
  transition: 0.2s;
  top: 0;
}
.hero .active:before {
  transform: rotate(45deg);
}
.hero .active:after {
  transform: rotate(-45deg);
}
.hero .logo {
  color: white;
  font-family: 'Permanent Marker';
  font-size: 1.9em;
  margin: 0 0 0 85px;
  line-height: 2;
}
.hero nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 60px;
  font-family: 'Raleway';
  font-size: 2em;
  display: none;
  background: rgba(0, 0, 0, 0.8);
}
.hero nav ul {
  margin: 0 0 0 25px;
  padding: 0;
}
.hero nav li {
  list-style-type: none;
  margin: 25px 0;
  position: relative;
}
.hero nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.hero-name {
  font-family: 'Permanent Marker';
  font-size: 4em;
  color: #212121;
  -webkit-transition: color .75s ease-out;
  -moz-transition: color .75s ease-out;
  -o-transition: color .75s ease-out;
  transition: color .75s ease-out;
}

.hero-name:hover {
  color: #009688;
}

.search-top {
  /* background: url(/images/search.png); */
  /* background-size: cover; */
  padding: 1em;
  background: -webkit-radial-gradient(circle, yellow, orange);
  background: -o-radial-gradient(circle, yellow, orange);
  background: -moz-radial-gradient(circle, yellow, orange);
  background: radial-gradient(circle, yellow, orange);
  border: solid 2px #000;
  box-shadow: 0 6px 6px -6px #000;
}

.search-input {
  width: 80%;
  height: 36px;
  border-radius: 0;
}

.search-btn {
  width: 20% !important;
  min-width: 20%;
  height: 36px;
  padding: 0;
  margin: 0;
  border-radius: 0;
  float: right;
  color: #fff;
  background-color: #518cca;
  border-color: #518cca;
}

.search-results {
  overflow-x: auto;
  width: 100%;
  display: flex;
  padding-top: 10px;
}

.search-thumb{
  width: 75px;
  height: 75px;
  float: right;
}

publisher {
  width: 200px;
  height: 200px;
  float: left;
  background: url(/images/dc.png);
}

.search-title {
  text-align: center;
  color: black;
  background: #fafafa;
  border: 2px solid black;
  font-family: "Open Sans";
}

.search-thumb:hover {
  border: 2px solid #009688;
}

.content {
  width: 49.5%;
  min-height: 100%;
  margin-left: 50.5%;
  padding: 4em 0em;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  border-right: 10px solid #FAFAFA;
}

.left-right {
}

.stat-div {
  margin-bottom: 10px;
  padding: 10px;
  background: #009688;
  border: solid 2px #000;
  box-shadow: 0 6px 6px -6px #000;
}
.stat-table {
  width: 100%;
}

.current-event {
  background: radial-gradient(circle, #E2E2E2, #b39ddb);
  background: -webkit-radial-gradient(circle, #E2E2E2, #b39ddb);
  padding: 40px 20px;
  position: relative;
  margin-top: 20px;
  border: solid 2px #000;
  box-shadow: 0 6px 6px -6px #000;
}

.current-event img {
  border: 2px solid #000;
}

.current-event h2 {
  text-align: center;
}

.top-left {
  left: -6px;
  position: absolute;
  top: -2px;
  transform: skew(-15deg);
}

.bottom-right {
  right: -1px;
  position: absolute;
  bottom: -2px;
  transform: skew(-15deg);
}

.text {
  background-color: #fff;
  border: solid 2px #000;
  margin: 0;
  padding: 3px 10px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Open Sans', cursive;
}

.result-content {
  background: #FAFAFA;
  margin-top: 10px;
  color: #212121;
}

.result-title a {
  color: #212121;
}

.result-title a:hover {
  color: #3F51B5;
  text-decoration: none;
}

.result-deck {
  background: #FAFAFA;
  color: #212121;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}

.result-deck p {
  padding: 5px;
}

.result-publisher {
  width: 100px;
  float: left;
  padding: 5px;
  margin-right: 20px;
  background: #FAFAFA;
}

.footer {
  height: 50px;
  border-top: 1px solid #FAFAFA;
  padding-top: 10px;
  color: #212121;
  text-align: center;
}

.about-content {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 100%, rgba(0, -1, 0, 0) 30%), url(/images/me.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about {
  color: rgba(250, 250, 250, .8);
  font-size: 40px;
  margin-left: 10%;
  line-height: 1.1;
}

.about-button {
  height: 100%;
  margin: 0;
  color: white;
  display: grid;
}

.about-contact {
  padding-top: 80px;
}

.contact-div {
  font-size: 26px;
  padding-right: 10px;
  cursor: pointer;
}

.contact-div a {
  color: rgba(250, 250, 250, .8);
}

.full a:hover {
  color: #FAFAFA !important;
}

.full {
  height: 100%
}

.no-results {
  border: 2px solid black;
  border-bottom: none; 
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
  background: #FDFC9B;
  font-family: 'Bangers', cursive;
  transition: .2s;
}

.btm-image {
  border: 2px solid black;
  border-bottom: none; 
  border-top: none; 
  width: 100%;
}

@media (max-width: 768px) {
  html {
    font-size: 18px;
  }

  .hero {
    height: 350px;
    width: 100%;
    display: block;
    position: relative;
    padding: 1px;
    clip-path: none;
  }
  .hero nav {
    font-size: 1.7em;
  }

  .content {
    margin-left: 0;
    padding-top: 0;
    width: 100%;
    border: none;
  }
}
@media (max-width: 480px) {
  img.fl, img.fr {
    float: none;
    margin: 10px 0;
    width: 100%;
    height: auto;
  }
  .about {
    color: rgba(250, 250, 250, .8);
    font-size: 20px;
    margin-left: 10%;
    line-height: 1.1;
  }
  
  .contact-div {
    font-size: 16px;
    padding-right: 10px;
    cursor: pointer;
  }
}
