*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  background: #FAFAFA;
}

h1 {
  font-family: 'Raleway';
  font-size: 2.7em;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: .3em;
  margin-top: 0;
}

p {
  font-weight: 200;
}

.fl {
  float: left;
  margin: 20px;
}

.fr {
  float: right;
  margin: 20px;
}

.hero {
  width: 50%;
  height: 100%;
  position: fixed;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 30%), url(/images/comics3.jpg);
  background-size: cover;
  background-position: center 30%;
  clip-path: polygon(0 0, 100% 0, 98% calc(100% - 0px), 0 100%);
}
.hero .hamb-wrap {
  height: 30px;
  width: 40px;
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
  z-index: 2;
}
.hero .hamb {
  height: 3px;
  width: 35px;
  background: #fff;
  position: absolute;
  top: 10px;
  left: 0;
  transition: 0.2s;
  border-radius: 10% 10% 10% 10% / 40% 40% 40% 40%;
}
.hero .hamb:before, .hero .hamb:after {
  content: '';
  position: absolute;
  background: #fff;
  height: 3px;
  width: 100%;
  transition: 0.2s;
  border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
}
.hero .hamb:before {
  top: 8px;
}
.hero .hamb:after {
  top: -8px;
}
.hero .active {
  background: none;
  transition: 0.2s;
}
.hero .active:before, .hero .active:after {
  transition: 0.2s;
  top: 0;
}
.hero .active:before {
  transform: rotate(45deg);
}
.hero .active:after {
  transform: rotate(-45deg);
}
.hero .logo {
  color: white;
  font-family: 'Permanent Marker';
  font-size: 1.9em;
  margin: 0 0 0 85px;
  line-height: 2;
}
.hero nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 60px;
  font-family: 'Raleway';
  font-size: 2em;
  display: none;
  background: rgba(0, 0, 0, 0.8);
}
.hero nav ul {
  margin: 0 0 0 25px;
  padding: 0;
}
.hero nav li {
  list-style-type: none;
  margin: 25px 0;
  position: relative;
}
.hero nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.hero-name {
  font-family: 'Permanent Marker';
  font-size: 4em;
  color: #212121;
  -webkit-transition: color .75s ease-out;
  -moz-transition: color .75s ease-out;
  -o-transition: color .75s ease-out;
  transition: color .75s ease-out;
}

.hero-name:hover {
  color: #009688;
}

.search-top {
  /* background: url(/images/search.png); */
  /* background-size: cover; */
  padding: 1em;
  background: -webkit-linear-gradient(40deg, #009688 20%, #673AB7 20%);
  background: -o-linear-gradient(40deg, #009688 20%, #673AB7 20%);
  background: -moz-linear-gradient(40deg, #009688 20%, #673AB7 20%);
  background: linear-gradient(40deg, #009688 20%, #673AB7 20%);
}

.search-input {
  width: 80%;
  height: 36px;
  border-radius: 0;
}

.search-btn {
  width: 20% !important;
  min-width: 20%;
  height: 36px;
  padding: 0;
  margin: 0;
  border-radius: 0;
  float: right;
  color: #fff;
  background-color: #518cca;
  border-color: #518cca;
}

.search-results {
  overflow-x: auto;
  width: 100%;
  display: flex;
  padding-top: 10px;
}

.search-thumb{
  width: 75px;
  height: 75px;
  float: right;
}

publisher {
  width: 200px;
  height: 200px;
  float: left;
  background: url(/images/dc.png);
}

.search-thumb:hover {
  border: 2px solid #009688;
}

.content {
  width: 49.5%;
  min-height: 100%;
  margin-left: 50.5%;
  padding: 4em 0em;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  border-right: 10px solid #FAFAFA;
}

.left-right {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), 0 100%);
}

.stat-div {
  clip-path: polygon(0 10px, 100% 0, 95% calc(100% - 10px), 0 100%);
  margin-bottom: 10px;
  padding: 10px;
}

.stat-table {
  width: 100%;
}

.current-event {
  clip-path: polygon(0 0, 100% 20px, 100% calc(100% - 10px), 0px 100%);
  padding: 20px;
  margin-top: 5px;
}

.result-content {
  background: #FAFAFA;
  margin-top: 5px;
  color: #212121;
}

.result-title a {
  color: #212121;
}

.result-title a:hover {
  color: #3F51B5;
  text-decoration: none;
}

.result-deck {
  background: #FAFAFA;
  color: #212121;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}

.result-deck p {
  padding: 5px;
}

.result-publisher {
  width: 100px;
  float: left;
  padding: 5px;
  margin-right: 20px;
  background: #FAFAFA;
}

.footer {
  height: 50px;
  border-top: 1px solid #FAFAFA;
  padding-top: 10px;
  color: #212121;
  text-align: center;
}

@media (max-width: 768px) {
  html {
    font-size: 18px;
  }

  .hero {
    height: 350px;
    width: 100%;
    display: block;
    position: relative;
    padding: 1px;
    clip-path: none;
  }
  .hero nav {
    font-size: 1.7em;
  }

  .content {
    margin-left: 0;
    padding-top: 0;
    width: 100%;
    border: none;
  }
}
@media (max-width: 480px) {
  img.fl, img.fr {
    float: none;
    margin: 10px 0;
    width: 100%;
    height: auto;
  }
}
