<section flex layout="row" layout-align="start center" class="about-content">
    <div class="full">
        <md-button class="about-button" href="/#!/home">Go Back</md-button>
    </div>
    <div class="about">
        <p>I'm Colt Street.</p>
        <p>I'm a Full Stack Developer.</p>
        <p>I made this site for fun, to showcase</p>
        <p>my development aptitude, and to learn new skills.</p>
        <div class="about-contact" layout="row">
            <div class="contact-div">
                <a href="https://www.linkedin.com/in/coltstreet" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <md-tooltip md-direction="bottom">LinkedIn</md-tooltip>
            </div>
            <div class="contact-div">
                <a href="https://github.com/COLTstreet/" target="_blank">
                    <i class="fab fa-git-square"></i>
                </a>
                <md-tooltip md-direction="bottom">GitHub</md-tooltip>
            </div>
            <div class="contact-div">
                <a href="https://www.uplabs.com/coltstreet" target="_blank">
                    <i class="fas fa-caret-square-up"></i>
                </a>
                <md-tooltip md-direction="bottom">UpLabs</md-tooltip>
            </div>
            <div class="contact-div">
                <a href="https://bl.ocks.org/COLTstreet" target="_blank">
                    <i class="fas fa-th-large"></i>
                </a>
                <md-tooltip md-direction="bottom">Bl.ocks.org</md-tooltip>
            </div>
            <div class="contact-div">
                <a href="http://www.coltstreet.com" target="_blank">www.coltstreet.com</a>
            </div>
        </div>
    </div>
</section>
      