<header>
  <div class="hero">
    <div class="hamb-wrap">
      <div class="hamb"></div>
    </div>
    <p class="logo"></p>
    <nav>
      <ul>
        <li>
          <a href="/#!/home">Home</a>
        </li>
        <li>
            <a href="/#!/about">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="content">
  <div class="search-top left-right">
    <h1 style="text-align: center;">Search for a Comic Character!</h1>
    <div>
        <form ng-submit="characterSearch(searchString)">
            <input type="submit" class="btn btn-dark btn-large btn-default btn-block search-btn">
            <input class="form-control search-input" ng-model="searchString" type="text" name="name" placeholder="name">
        </form>
    </div>
    <div class="search-results">
    <div ng-repeat="result in searchResults">
      <div ng-click="selectHero(result)">
        <img class="search-thumb" title="{{result.name}}" data-toggle="tooltip" ng-src="{{result.image.icon_url}}"></div>
    </div>
    </div>
  </div>
  <div class="result-content left-right">
    <div class="result-title" ng-if="selectedResult">
      <a href="{{selectedResult.site_detail_url}}" target="_blank" title="Details"><h1 class="hero-name">{{selectedResult.name}}</h1></a>
    </div>
    <p>{{selectedResult.deck}}</p>
    <div id="current-event"></div>
  </div>
</section>


<!-- <div id="right-div">
  
</div>

<div id="left-div">
  <img class="bg" ng-src="{{background}}">
</div> -->
