<header>
  <div id="hero" class="hero">
    <div class="hamb-wrap">
      <div class="hamb"></div>
    </div>
    <p class="logo"></p>
    <nav>
      <ul>
        <li>
          <a href="/#!/home">Home</a>
        </li>
        <li>
            <a href="/#!/about">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="content">
  <div class="search-top left-right">
    <h1 style="text-align: center;">Search for a Comic Character!</h1>
    <div>
        <form ng-submit="characterSearch(searchString)">
            <!-- <input type="submit" class="btn btn-dark btn-large btn-default btn-block search-btn"> -->
            <md-button type="submit" class="md-raised md-primary search-btn">Submit</md-button>
            <input class="form-control search-input" ng-model="searchString" type="text" name="name" placeholder="name">
        </form>
    </div>
    <div class="search-results">
      <div ng-repeat="result in searchResults">
        <div ng-click="selectHero(result)">
          <img class="search-thumb hvr-float" title="{{result.name}}" data-toggle="tooltip" ng-src="{{result.image.icon_url}}"></div>
      </div>
    </div>
  </div>
  <md-progress-linear ng-if="searching" md-mode="indeterminate"></md-progress-linear>
  <div class="result-content left-right" ng-show="selectedResult">
    <div class="result-title">
      <a href="{{selectedResult.site_detail_url}}" target="_blank" title="Details"><h1 class="hero-name">{{selectedResult.name}}</h1></a>
    </div>
    <div>
      <table class="stat-table">
        <tr>
          <td>
              <p>Real Name: {{selectedResult.real_name}}</p>
              <p>Birth: {{selectedResult.birth}}</p>
          </td>
          <td>
              <p>Appearances: {{selectedResult.count_of_issue_appearances}}</p>
              <p>Gender: {{selectedResult.gender}}</p>
          </td>
        </tr>
      </table>
    </div>
    <div class="result-deck">
        <img class="result-publisher" src="{{publisher}}">
        <p>{{selectedResult.deck}}</p>
    </div>
    <div id="current-event"></div>
  </div>
  <div class="footer">
    <div>
      All data is provided by the <a href="https://www.comicvine.com" target="_blank">Comic Vine API</a>
    </div>
  </div>
</section>


<!-- <div id="right-div">
  
</div>

<div id="left-div">
  <img class="bg" ng-src="{{background}}">
</div> -->
